Package: com.thomz.rounddockremastered
Name: RoundDock Remastered
Version: 1.0
Architecture: iphoneos-arm
Description: Round the corners of your dock
Maintainer: Thomz
Author: Thomz
Section: Tweaks
Depends: ws.hbang.common (>= 1.17), preferenceloader (>= 2.2.4), ws.hbang.alderis (>= 1.2), firmware (>= 14.0)
Conflicts: com.thomz.cenamopro
Icon: https://github.com/Thomz07/RoundDockRemasterred/blob/main/rounddockremasteredpreferences/Resources/icon@3x.png?raw=true