<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>condensed</key>
			<true/>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>packageIdentifier</key>
			<string>com.thomz.rounddockremastered</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.thomz.rounddockremasteredpreferences</string>
			<key>key</key>
			<string>enableSwitch</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.thomz.rounddockremasteredpreferences/ReloadPrefs</string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.thomz.rounddockremasteredpreferences</string>
			<key>key</key>
			<string>dockCornerRadius</string>
			<key>default</key>
			<real>20</real>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>50</integer>
			<key>PostNotification</key>
    		<string>com.thomz.rounddockremasteredpreferences/ReloadPrefs</string>
			<key>leftImageSystem</key>
			<dict>
				<key>name</key>
				<string>square</string>
			</dict>
			<key>rightImageSystem</key>
			<dict>
				<key>name</key>
				<string>circle</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.thomz.rounddockremasteredpreferences</string>
			<key>key</key>
			<string>changeDockColor</string>
			<key>id</key>
			<string>changeDockColor</string>
			<key>label</key>
			<string>Change dock color</string>
			<key>PostNotification</key>
			<string>com.thomz.rounddockremasteredpreferences/ReloadPrefs</string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.thomz.rounddockremasteredpreferences</string>
			<key>default</key>
			<string>#ffffff</string>
			<key>label</key>
			<string>Background color</string>
			<key>key</key>
			<string>dockColor</string>
			<key>id</key>
			<string>dockColor</string>
			<key>showAlphaSlider</key>
			<false/>
			<key>PostNotification</key>
    		<string>com.thomz.rounddockremasteredpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This tweak was inspired by Brogan Miner who made it for iOS 7-8. Brogan granted me permission to make this tweak.</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>RoundDock Remastered</string>
			<key>packageIdentifier</key>
			<string>com.thomz.rounddockremastered</string>
			<key>subtitle</key>
			<string>Round the corners of your dock</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Thomz</string>
			<key>user</key>
			<string>thompgm</string>
			<key>showAvatar</key>
    		<true/>
		</dict>
	</array>
	<key>title</key>
	<string>RoundDock</string>
</dict>
</plist>
